.heading{
    padding-top: 15%;
    text-align: center;
    font-size: 300%;
    background-color: cornsilk;
    
    color: rgb(190, 224, 252);

}
.background{
    background: url(standre.jpeg);
    width:100%;
}
.blog{
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.design{
    color: yellowgreen;
    font-size: 80%;
    
}
.logo{
    height: 40px;
    width: 40px;
}
.none{
    background-color: transparent;
}
#decor{
    color: steelblue;
    font-size: 130%;
    text-align: center;
    
}
a{
    text-align: center;
}
.blogText{
    color: bisque;
}

.card{
    margin: 40px;
}
.head1{
    text-align: center;
    background-color: rgb(218, 214, 214);
}
.img1{
    height: 300px;
    width:480px;
    

}
.text1{
    text-align: center;
}
.waniya{
    width: 100%;
}
.next{
    text-align: center;
}
.mainpage{
    color: blanchedalmond;
    font-size: 100%;
}
.cover-image{
    height: 400px;
    width: 285px;
}
.next-page{
    text-align: center;
    background-color: blanchedalmond;
    font-style: oblique;
    font-size: 200%;
}